<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/templates/base.html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: html_head">
  <title layout:fragment="title">Admin - Questions</title>
</head>

<body sec:authorize="isAuthenticated()">

  <div layout:fragment="content">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a th:href="@{/}">GeniusQuizz</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" th:href="@{/}">Accueil</a></li>
            <li><a class="nav-link scrollto" th:href="@{/sessions}">Sessions</a></li>
            <li><a class="nav-link" th:href="@{/profile}" ><span th:text="${user.getFirstName()}+' '+ |${user.getLastName()}|"></span></a></li>
            <li><a class="getstarted scrollto" id="decoBt" th:href="@{/logout}">Déconnexion</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->

    <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

          <ol>
            <li><a href="index.html">Admin</a></li>
            <li>Questions</li>
          </ol>
          <h2>Liste des questions</h2>

        </div>
      </section><!-- End Breadcrumbs -->

      <section class="inner-page">
        <div class="container">
          <div class="main-body">
            <div class="row gutters-sm">
              <div class="col-md-4 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <h4 th:text="${user.getEmail()}"></h4>
                        <p class="text-secondary mb-1">Connecté en tant qu'Administrateur</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0">
                        Nombre d'utilisateurs
                      </h6>
                      <span class="text-secondary"><span class="badge text-bg-primary" th:text="${users.size()}"></span></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card mb-3">
                  <div class="card-body">
                    <div th:if="${param.successEdit}" class="mx-1 mx-md-4 ">
                      <div class="alert alert-success">
                        La question et les réponses ont bien été modifiée ✔
                      </div>
                    </div>
                    <div th:if="${param.delete}" class="mx-1 mx-md-4 ">
                      <div class="alert alert-info">
                        La question et les réponses ont bien été supprimée ✔
                      </div>
                    </div>

                    <table class="table" th:if="${ questions.size() > 0 }">
                      <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom de la question</th>
                        <th scope="col">Les réponses</th>
                        <th scope="col">Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="align-middle" th:each="q : ${questions}">
                        <th scope="row"><a th:href="@{/admin/question/edit/{id}(id = ${q.id})}" th:text="${q.id}"></a></th>
                        <td th:text="${q.libelle}"></td>
                        <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#'+${q.id}">
                            Les réponses
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" th:attr="id=${q.id}" tabindex="-1" role="dialog" aria-labelledby="Reponses" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Réponse de la question <b><span th:text="${q.libelle}"></span></b></h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <table class="table" th:if="${ q.answers.size() > 0 }">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Nom de la réponse</th>
                                      <th scope="col">Bonne réponse</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="align-middle" th:each="a : ${q.answers}">
                                      <th scope="row" th:text="${a.id}"></th>
                                      <td th:text="${a.libelle}"></td>
                                      <td th:if="${a.right_answer}">
                                        Oui
                                      </td>
                                      <td th:if="${!a.right_answer}">
                                        Non
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <form th:action="@{/admin/question/delete/{id}(id = ${q.id})}" method="post">
                            <button type="submit" class="btn btn-danger">
                              Supprimer
                            </button>
                          </form>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <a class="btn btn-success" th:href="@{/admin/question/add}">Ajout de questions</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-top" style="background-color: #f3f5fa;">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>GeniusQuizz</h3>
              <p>
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Liens utiles</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#hero}">Accueil</a></li>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#about}">A propos de nous</a></li>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#advanced}">Votre avancé</a></li>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#services}">Quizz</a></li>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#team}">Équipe</a></li>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/#contact}">Nous contacter</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Nos sites</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a th:href="@{/}">GeniusQuizz</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Nos réseaux socials</h4>
              <p>N'hésitez pas à nous soutenir</p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>GeniusQuizz</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Develop by Kiwi and Souf
        </div>
      </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  </div>

  <div th:replace="base :: html_scripts"></div>

</body>
</html>