<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/templates/base.html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: html_head">
  <title layout:fragment="title">Accueil</title>
</head>
<body sec:authorize="isAuthenticated()">

<div layout:fragment="content">


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a th:href="@{/}">GeniusQuizz</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " th:href="@{/}">Accueil</a></li>
          <li><a class="nav-link scrollto" th:href="@{/sessions}">Sessions</a></li>
          <li><a class="nav-link" th:href="@{/profile}" ><span th:text="${user.getFirstName()}+' '+ |${user.getLastName()}|"></span></a></li>
          <li><a class="getstarted scrollto" id="decoBt" th:href="@{/logout}">Déconnexion</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Quizz</li>
        </ol>

        <div class="d-flex justify-content-center">
          <h1 th:text="${'SCORE ' + session_quizz_current.score}"></h1>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container">
      <div th:if="${ session.get('is_correct') == true }" class="alert alert-success alert-dismissible fade show">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <h4 class="alert-heading">Bien joué !</h4><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>Votre réponse était la bonne. Vous gagné 1 point !</p>
        <hr>
        <p class="mb-0" th:text="${'Bonne réponse : ' + session.get('correct_answer').libelle}"> </p>
      </div>

      <div th:if="${ session.get('is_correct') == false }" class="alert alert-danger alert-dismissible fade show">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <h4 class="alert-heading">Oh non c'est raté !</h4><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>Votre n'était pas celle attendu, vous avez donc perdu 1 vie.</p>
        <hr>
        <p class="mb-0" th:text="${'Voici la réponse qui était attendu : ' + session.get('correct_answer').libelle}"></p>
      </div>
    </div>

    <section class="inner-page">
      <div class="container">
        <div style="height:75px;" class="d-flex justify-content-end" th:if="${ session_quizz_current.life == 1 }">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_down.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_down.png">
        </div>

        <div style="height:75px;" class="d-flex justify-content-end" th:if="${ session_quizz_current.life == 2 }">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_down.png">
        </div>

        <div style="height:75px;" class="d-flex justify-content-end" th:if="${ session_quizz_current.life >= 3 }">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
          <img style="height:100%; margin: 5px" src="/assets/img/heart_up.png">
        </div>

        <!-- Content -->


        <h3 class="my-3" th:text="${ question.libelle }"></h3>

        <form th:action="@{/quizz/submit}" method="POST">
          <ul class="list-group">
            <li class="list-group-item" th:each="answer : ${question.answers}">
              <div class="form-check">
                <input class="form-check-input" type="radio" th:id="'radio' + ${answer.id}" name="Radio" th:value="${answer.id}" required>
                <label th:for="'radio' + ${answer.id}" th:text="${answer.libelle}"></label>
              </div>
            </li>
          </ul>
          <input type="hidden" name="Session" th:value="*{session_quizz_current.id}" />
          <input type="hidden" name="Question" th:value="*{question.id}" />

          <div class="d-flex justify-content-end">
            <button type="submit" th:href="@{'/quizz/' + ${session_quizz_current.id}}" class="btn btn-success btn-lg mt-3">Valider</button>
          </div>
        </form>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Rejoigner notre Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Arsha</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</div>

<div th:replace="base :: html_scripts"></div>

</body>

</html>